@import '../abstract/variaveis';

#gift-ticket {
    background: $cor-terciaria;
    padding: 4rem;
    text-align: center;
    .text-ticket {
        color: $cor-primaria;
        h2 {
            margin: 2rem;
            font-size: $tamanho-do-texto / 1.7;
        }
    }
}